# compiled output
/dist
/node_modules
.env
*.env
/uploads/*
!/uploads/.gitkeep
/config

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
temp_auto_push.bat

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.gitignore
temp_interactive_push.bat
